@model IEnumerable<Category>
<div class="list-group">
  
    <a asp-action="Index" asp-controller="Home" asp-route-categoryId="all" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
    @foreach (var item in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-categoryId="@item.Id" class="list-group-item list-group-item-action">@item.Name</a>
    }
</div>