@model ShoppingCardCollection
<a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCard" asp-action="Index">
    Sepetim
    <span class="badge bg-primary rounded-pill float-end">@Model.TotalItemsQuantity()</span>
</a>