@model Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProduct</title>
</head>
<body>
    <form asp-action="NewProduct" method="post">
       <div>
           <input placeholder="Ürün Adı" asp-for="Name"/>
           <span asp-validation-for="Name"></span>
       </div>
       <div>
           <input placeholder="Açıklama" asp-for="Description" />

       </div>
        <div>
            <input placeholder="Fiyat" asp-for="Price" />

        </div>
        <div>
            <input placeholder="Fiyat" asp-for="ProductionDate" />
        </div>
        <button type="submit">Gönder</button>
    </form>
</body>
</html>
