@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success">
    Hoş geldiniz
</div>
<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-3">
            <partial name="_productCard" model="product" />
        </div>
    }

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".basket").on('click', function () {
                let id = $(this).data('id');



                $.ajax({
                    url: '/ShoppingCard/AddProduct/' + id,
                    method: 'GET',
                    success: function (data) {
                        $('#toastBody').text(data.message)
                        const toastLiveExample = document.getElementById('liveToast')
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)

                        toastBootstrap.show();
                    },
                    error: function (err) {

                    }
                })

            });

        });

    </script>
}


